{% extends 'base.html.twig' %}

{% block contenu %}
<h1> Ressource {{idRessource}}</h1>

<p>
  Cette page affichera le descriptif de la ressource pédagogique numéro {{idRessource}}.
</p>
{% endblock %}
