{% extends 'base.html.twig' %}

{% block titrePage %}
<h1> Nom de la ressource {{idRessource}}</h1>
{% endblock %}

{% block contenuPage %}
<p>
  Cette page affichera le descriptif de la ressource pédagogique numéro {{idRessource}}.
</p>
{% endblock %}
