<h1>Bienvenue sur OpenclassDut !</h1>

<p>
Vous trouverez ci-dessous les dernières ressources pédagogiques ajoutées sur OpneclassDut.
</p>
<ul>
  <li>
    <a href="{{path('openclassdut_ressource',{id:5})}}">Exo1 - Tp3 - M1102</a>
  </li>
  <li>
    <a href="{{path('openclassdut_ressource',{id:152})}}">Tuto sur les fonctions</a>
  </li>
  <li>
    <a href="{{path('openclassdut_ressource',{id:726})}}">Tabula rasa</a>
  </li>
</ul>
